<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yourtion.simulator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>495996BB-7D25-4CC5-832A-371EBB5891AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1EC13C3-164E-455D-8FCA-E5B1D4052BE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yourtion Guo</string>
	<key>description</key>
	<string>Easy to launch simulator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SimulatorLauncher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sim</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for Simulator in this computer</string>
				<key>script</key>
				<string>import simulator

def callback(ios,android):
  print('&lt;?xml version="1.0"?&gt;')
  print('&lt;items&gt;')
  for item in ios:
    print("  &lt;item uid=\"octal\" valid=\"yes\" arg=\""+item[1]+"\"&gt;")
    print("    &lt;title&gt;"+item[0]+"&lt;/title&gt;")
    print('    &lt;subtitle&gt;UDID: '+ item[1] +'&lt;/subtitle&gt;')
    print('    &lt;icon&gt;ios.png&lt;/icon&gt;')
    print('  &lt;/item&gt;')
  for item in android:
    print("  &lt;item uid=\"octal\" valid=\"yes\" arg=\"@"+item+"\"&gt;")
    print("    &lt;title&gt;"+item+"&lt;/title&gt;")
    print('    &lt;subtitle&gt;UDID: '+ item +'&lt;/subtitle&gt;')
    print('    &lt;icon&gt;android.png&lt;/icon&gt;')
    print('  &lt;/item&gt;')
  print('&lt;/items&gt;')


callback(simulator.ios_device_list(), simulator.android_device_list("/Users/Yourtion/Codes/Apps/AndroidSDK/"))
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Simulator: {query}</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>495996BB-7D25-4CC5-832A-371EBB5891AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import simulator

query = sys.argv[1]
simulator.lanch_sim(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1EC13C3-164E-455D-8FCA-E5B1D4052BE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>495996BB-7D25-4CC5-832A-371EBB5891AA</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A1EC13C3-164E-455D-8FCA-E5B1D4052BE8</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/yourtion/Alfred_SimulatorLauncher</string>
</dict>
</plist>
